// container for bracket in App ***
.component__container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  position: relative;
  width: 99vw;
}

.region {
  border: 2px solid $navy;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-height: 90vh;
  position: relative;
  width: 50%;
}

.region:nth-child(2), .region:nth-child(4) {
  border-left: none;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
  position: relative;

  .team__container {
    background: rgba($almost, 0.5);
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    width: 100%;
  }

}

.region:nth-child(1) {
  background: url('https://college-madness.herokuapp.com/images/east.png') center center no-repeat;
}
.region:nth-child(2) {
  background: url('https://college-madness.herokuapp.com/images/west.png') center center no-repeat;
}
.region:nth-child(3) {
  background: url('https://college-madness.herokuapp.com/images/midwest.png') center center no-repeat;
}
.region:nth-child(4) {
  background: url('https://college-madness.herokuapp.com/images/south.png') center center no-repeat;
}

.region:nth-child(1), .region:nth-child(3){
  border-right: none;
}


.final__four {
  align-items: center;
  background-color: white;
  border: 4px solid $navy;
  display: flex;
  flex-flow: column;
  height: 480px;
  justify-content: flex-start;
  left: calc(50% - 140px);
  position: absolute;
  top: calc(50% - 240px);
  width: 280px;

  h3 {
    line-height: .95;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .submit__form {
    margin: 0;
    padding: 0;

    .bracket__submit {
      font-size: 1.25rem;
      padding: 5px;
    }
  }
}

.loadingball__container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;

}

.loading-ball {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
