.round_64__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
  width: 210px;
}

.round_32__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;
}
.round_16__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;

}
.round_8__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;

}
.round_4__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;
}
.round_2__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;

}
.round_1__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
  width: 200px;
}
