.header__container {
  background-color: rgba(240, 240, 240, .85);
  // border: 5px solid white;
  // max-height: 60px;
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100%;
}

.band__header {
  // color: red;
  font-size: 2rem;
  max-height: 100%;
  margin: 0 auto;
  width: 100%;
}

.band__social__media{
  display: inline-block;
  // margin: 0 auto;
  // padding: 0;
  width: 100%;

  .social__icon {
    float: left;
    margin: 5px 5px;
    max-height: 30px;
    max-width: 30px;
  }
  #email {
    max-width: 28px;
    max-height: 27px;
  }
  .band__book {
    // color: black;
    display: none;
    // font-size: .7rem;
    // font-style: $bodyFont;
    // text-align: right;
    // min-height: 100%;
    // width: 80%;
  }
}

.band__navigation {
  display: inline-block;
  padding: 0;
  width: 100%;
    nav {
      display: flex;
      align-items: center;
      height: 38px;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
    }
  li {
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    list-style: none;
    margin: 0 20px;
  }
}

@media (max-width: 520px) {
  .header__container {
    border-bottom: 5px solid black;
    min-height: 65px;
    padding-top: 10px;
    .band__header {
      margin: 0 auto;
      font-size: 1.25rem;
    }

      .band__navigation {
        nav {
          li {
          font-size: 0.6rem;
          margin: 0 10px;
          }
        }
      }
  }
  .band__social__media {
    background-color: rgba(250, 250, 250, .8);
    height: 30px;
    position: fixed;
    top: 90vh;
    width: 100%;

    .band__book {
      // display: inline;
    }
  }
}
