.header__container {
  background-color: $almost;
  border-bottom: 5px solid $royal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.header__logo {
  height: 75px;
  max-height: 100px;
  max-width: 25%
}

.header__homerooom {
  h1 {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    width: 100%;
  }
}

.header__logout {
  align-items: center;
  display: flex;
  max-height: 50px;
}
.header__logout:hover {
  background-color: $burnt;
  border: 5px solid $royal;
  color: $almost;
}
