
.header__container {
  background-color: rgba(185, 43, 145, 0.6);
  display: none;
  margin: 2vw auto;
  position: absolute;
  top: 80vh;
  text-align: center;
  width: 100%;
}

.band__header {
  // color: red;
  font-size: 2rem;
  // max-height: 100%;
  margin: 0 auto;
  width: 100%;
}


.band__navigation {
  display: inline-block;
  padding: 0;
  width: 100%;
    nav {
      display: flex;
      align-items: center;
      height: 38px;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
    }
  .band__navigation__link {
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    list-style: none;
    margin: 0 20px;
  }
}

@media (max-width: 620px) {
  .band__header {
    font-size: 1rem;
  }
  .band__navigation {
    display: inline-block;
    padding: 0;
    width: 70%;
      nav {
        display: flex;
        align-items: center;
        height: 38px;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
      }
    .band__navigation__link {
      font-size: .5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      list-style: none;
      margin: 0 8px;
    }
  }
}
