.main__container {
  background-color: rgba(white, .8);
  margin: 0 auto;
  margin-top: 150px;
  width: 95vw;
}

.home {
  color: rgba(0,0,0,1);
  font-family: $bodyFont;
  font-size: 1.1rem;
  padding: 5px 15px;
  margin: 20px auto;
  width: 80%;

  #band__intro__info {
    text-align: justify;
  }

  }
  .band__photo {
    display: block;
    margin: 20px auto;
    width: 85%;
  }
  @media (max-width: 620px) {
    .band__photo {
      display: block;
      margin: 10px auto;
      width: 90%;
    }
}

@media (max-width: 620px) {
.main__container {
  margin-top: 130px;
  }
  .home {
    font-size: 0.8rem;
  }
}
