.main__container {
  background-color: rgba(white, .8);
  margin: 0 auto;
  margin-top: 150px;
  width: 95vw;
}

.home {
  color: rgba(0,0,0,1);
  font-family: $bodyFont;
  font-size: 1.1rem;
  padding: 5px 15px;
  margin: 20px auto;
  width: 80%;

  #band__intro__info {
    text-align: justify;
  }

}
.landing__container, .links__container, .music__container, .photos__container, .calendar__container, .contact__container{
  display: block;
  max-height: 33vh;
  width: 100%;
    .container__jumbotron {
      max-height: 100%;
      min-width: 100vw;
      margin: 0 auto;
    }
}
.videos__container {
  margin: 0 auto;
  width: 60%;

  .video__placeholder {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 620px) {

}
