
.login__container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.login__teach-container {
  align-items: center;
  border: 5px solid $navy;
  bottom: 25px;
  display: flex;
  flex-flow: column nowrap;
  height: 250px;
  justify-content: center;
  left: calc(50% - 150px);
  position: absolute;
  width: 300px;

   input {
    width: 65%;
  }
}

.confirm__button, .confirm__link {
  background: $royal;
  border: none;
  border-radius: 5px;
  color: $almost;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 20%;
}

.confirm__yes:active {
  background-color: $avocado;
}
.confirm__no {
  background: $royal;
  border: none;
  border-radius: 5px;
  color: $almost;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 95%;
}

.confirm__link:active, .confirm__no:active {
  background-color: $burnt;
}
