.teacher__homeroom{
  width: 100%;
}
.homeroom__header {
  text-align: center;
  width: 100%;
}
.homeroom__table {
  border: 3px solid $royal;
  height: 100%;
  margin: 0 auto 5%;
  padding: 2%;
  width: 65%;

  .homeroom__table__body {
    width: 100%;
  }

  .header {
    background-color: $royal;
    color: $almost;
    font-size: 1.25rem;
  }
}

.student__row:nth-child(even) {
  background: $almost;
}
.student__row:nth-child(odd) {
  background: white;
}

.student__row, .header__row {
  margin: 0;
  width: 100%;
}

.student__row:hover {
  background-color: rgba($tangerine, .4);
  color: $royal;
  z-index: 2;
}

.cell {
  border: 1px solid $royal;
  margin: 0;
  padding: 1%;
}

.student__col {
  width: 48%;
}
.points__col {
  width: 17.3%;
}

.data {
  text-align: center;
}

.header {
  font-weight: 700;;
}

.pickClass__container {
  display: flex;
  flex-flow: column nowrap;
  line-height: 2.5;
  text-align: center;
  width: 30%;
  margin: 2% auto;
  .pickClass__title {
    background: $royal;
    color: $almost;
    font-weight: 700;
    height: 50px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    width: 100%;
  }
  .pickClass__items {

    li:hover {
      animation: scale 0.25s both;
      background-color: rgba($tangerine, .5);
      border-top: 2px solid $tangerine;
      border-bottom: 2px solid $tangerine;
      box-shadow: 0px 0px 0px 0px rgba(0, 0 , 139, 1);
      color: $royal;
      margin: 0 0 0 2%;
      z-index: 2;
    }
  }
}

.back__to__bracket {
    font-size: 1.25rem;
    margin: 1% auto;
    width: 20%;
}
