.teacher__roster {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  text-align: center;
  width: 30%;
  margin: 2%;

  .roster__header {
    background: $royal;
    color: $almost;
    font-weight: 700;
    height: 50px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    width: 100%;
  }

  .roster__student {
    li {
      width: 100%;
    }

    li:hover {
      animation: scale .25s both;
      background-color: rgba($tangerine, .5);
      border-top: 2px solid $tangerine;
      border-bottom: 2px solid $tangerine;
      box-shadow: 0px 0px 0px 0px rgba(0, 0 , 139, 1);
      color: $royal;
      font-weight: 700;
      z-index: 2;
    }
  }
}
