@import url("https://fonts.googleapis.com/css?family=BioRhyme:200");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font: 16px/1.25 "BioRhyme", serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

*,
*:after,
*:before {
  box-sizing: border-box; }

::-moz-selection {
  color: #fff;
  background: #2c3e50; }

::selection {
  color: #fff;
  background: #2c3e50; }

.is-hidden {
  display: none; }

.is-visible {
  display: inline-block; }

a {
  color: inherit;
  text-decoration: none; }

a:visited {
  background-color: #235695;
  text-decoration-style: none; }

.is-centered {
  text-align: center; }

.is__active {
  background-color: #a9cfef; }

.is-flex {
  display: flex;
  width: 100%; }

@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes scale2 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }
#main {
  background-color: black;
  height: calc((100vh) + 60px); }

.header__container {
  background-color: rgba(185, 43, 145, 0.6);
  margin: 2vw auto;
  position: absolute;
  top: 80vh;
  text-align: center;
  width: 100%; }

.band__header {
  font-size: 2rem;
  margin: 0 auto;
  width: 100%; }

.band__navigation {
  display: inline-block;
  padding: 0;
  width: 100%; }
  .band__navigation nav {
    display: flex;
    align-items: center;
    height: 38px;
    justify-content: center;
    margin: 0 auto;
    width: 100%; }
  .band__navigation .band__navigation__link {
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    list-style: none;
    margin: 0 20px; }

@media (max-width: 620px) {
  .band__header {
    font-size: 1rem; }

  .band__navigation {
    display: inline-block;
    padding: 0;
    width: 70%; }
    .band__navigation nav {
      display: flex;
      align-items: center;
      height: 38px;
      justify-content: center;
      margin: 0 auto;
      width: 100%; }
    .band__navigation .band__navigation__link {
      font-size: .5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      list-style: none;
      margin: 0 8px; } }
.main__container {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-top: 150px;
  width: 95vw; }

.home {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 5px 15px;
  margin: 20px auto;
  width: 80%; }
  .home #band__intro__info {
    text-align: justify; }

.landing__container, .links__container, .music__container, .photos__container, .calendar__container, .contact__container {
  display: block;
  max-height: 33vh;
  width: 100%; }
  .landing__container .container__jumbotron, .links__container .container__jumbotron, .music__container .container__jumbotron, .photos__container .container__jumbotron, .calendar__container .container__jumbotron, .contact__container .container__jumbotron {
    max-height: 100%;
    min-width: 100vw;
    margin: 0 auto; }

.videos__container {
  margin: 0 auto;
  width: 60%; }
  .videos__container .video__placeholder {
    margin: 0 auto;
    width: 100%; }

.coming__soon, .patience {
  font-size: 3rem;
  margin: 10vw auto 2vw;
  text-align: center;
  width: 100%; }

.patience {
  font-size: 1.5rem;
  margin: 0 auto 3vw; }

.footer__content {
  background-color: black;
  color: white;
  height: 50px;
  position: absolute;
  top: calc((100vh) + 40px);
  width: 100%; }
  .footer__content .footer__specifics {
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    margin: 1vh auto;
    text-align: center;
    width: 100%; }

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h5 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h6 {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

/*# sourceMappingURL=app.css.map */
